:root{
    --color-principal: #252A30;
    --color-secundario: #7BBB5D;
    --color-terceario: #4A525C;
    --color-cuaternario: #6E7784;
    --color-blanco: #D9D9D9;
    --font-enorme: 32px;
    --font-grande: 24px;
    --font-normal: 20px;
    --font-pequeño: 16px;
    --font-enano: 12px;
}
html, body{
    margin: 0;
    font-family: "Inter", serif;
    height: 100%;
    background-color: var(--color-principal);
}
/*Estilos header principal*/
.header{
    display: flex;
    background-color: var(--color-principal);
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    height: 15%;
    min-height: 100px;
}
.logo img{
    height: 100%;
}
.enlaces{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.enlace a{
    color: var(--color-secundario);
    text-decoration: none;
    font-size: var(--font-normal);
}
.acceso{
    display: flex;
    align-items: center;
}
.boton-acceder{
    padding: 15px 30px;
    border-radius: 20px;
    border: 0;
    background-color: var(--color-secundario);
    font-size: var(--font-normal);
    width: 75px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.boton-acceder a{
    display: inline-block;
    text-decoration: none;
    color: var(--color-principal);
}
.acceder-acceso{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.boton-acceder2{
    padding: 10px 30px;
    border-radius: 20px;
    border: 0;
    background-color: var(--color-principal);
    font-size: var(--font-normal);
    width: 75px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.boton-acceder2 a{
    display: inline-block;
    text-decoration: none;
    color: var(--color-secundario);
}
.boton-unirse {
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    width: 100px;
    background-color: var(--color-secundario);
    font-size: var(--font-normal);
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
}

.boton-unirse a {
    text-decoration: none;
    color: var(--color-blanco);
    display: inline-block; /* Permite que el enlace se ajuste al contenido */
}



.logo-acceso{
    width: 100px;
}

/*Estilos pagina principal*/
.contenedor-principal {
    position: relative;
    display: inline-block;
    height: 85%;
    overflow: hidden;
    width: 100%;
}
.contenedor-principal .imagen-fondo{
    width: 100%;
    opacity: 0.5;
    object-fit: cover;
    height: 100%;
}
.contenido-principal {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: var(--color-secundario);
    font-size: var(--font-enorme);
    flex-direction: column;
    background-color: var(--color-principal);
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 50px;
    width: 250px;
    display: flex;
    text-align: center;
    align-items: center; 
    justify-content: center;
}

/*Estilos pagina Acceso*/
.pagina-acceso{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--color-principal);
    font-size: var(--font-normal);
}
.contenedor-acceso{
    width: 50%;
    height: 80%;
    background-color: var(--color-secundario);
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 450px;
}
.contenido-acceso{
    width: 80%;
    justify-content: center;
}
.header-acceso {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
.header-acceso div {
    text-align: center;
    font-size: var(--font-grande);
}
.contenido-acceso div{ 
    text-align: left;
}
.contenido-acceso div input{
    background-color: var(--color-blanco);
    border: 0;
    width: 99%;
    height: 30px;
    margin-bottom: 20px;
}
.contenido-acceso hr{
    border: 0.5px solid var(--color-principal);
    margin-bottom: 20px;
}
.registro-acceso{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.inicio-acceso{
    margin-top: 20px;
    font-size: var(--font-pequeño);
    display: flex;
    justify-content: center;
}
.inicio-acceso a{
    text-decoration: none;
    color: var(--color-principal);
}
.inicio-acceso a:hover{
    text-decoration: underline;
}


/*Estilos pagina Apuestas*/
.contenido-apuestas{
    display: flex;
    color: var(--color-secundario);
    height: 100%;
}
.sidebar-apuestas{
    width: 20%;
    background-color: var(--color-terceario);
    height: 100%;
}
.sidebar-apuestas h2{
    margin-top: 40px;
    margin-left: 40px;
    font-size: var(--font-grande);
}
.lista-apuestas{
    list-style-type: none;
    align-items: center;
}
.lista-apuestas li{
    padding: 5px;
    display: flex;
    align-items: center;
}
.lista-apuestas img{
    width: 30px;
    margin-right: 10px;
}
.contenedor-apuestas{
    background-color: var(--color-cuaternario);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seccion-scroll {
    width: 95%;
    height: 90%; 
    padding: 10px;
    overflow: auto; 
}
.grid-apuestas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}
.card-apuesta:nth-child(3n+1) {
    justify-self: start;
}
.card-apuesta:nth-child(3n+2) {
    justify-self: center;
}
.card-apuesta:nth-child(3n+3) {
    justify-self: end;
}

.card-apuesta{
    width: 400px;
    color: var(--color-principal);
    background-color: var(--color-blanco);
    font-size: var(--font-grande);
}
.card-apuesta div{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.card-apuesta img{
    width: 30px;
    margin-right: 10px;
}
.equipo-apuesta{
    display: flex;
    flex-direction: column;
    font-size: var(--font-pequeño);
}
.equipo-apuesta img{
    display: block;
    margin: 0 auto;
    width: 50px;
}
.boton-apuesta{
    padding-right: 120px;
    padding-left: 120px;
}


/*Estilos footer*/
.footer{
    display: flex;
    background-color: var(--color-principal);
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100px;
    color: var(--color-secundario);
    font-size: var(--font-pequeño);
}
.redes{
    width: 200px;
    text-align: center;
}
.logos{
    display: flex;
    justify-content: space-between;
}
.red{
    width: 40px;
    height: 40px;
    background-color: var(--color-secundario);
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    display: flex;
}
.red img{
    width: 25px;
    height: 25px;
}
.titulo-footer{
    font-size: var(--font-normal);
}
.redes p{
    margin: 5px;
}
.redes hr{
    border: 1px solid var(--color-secundario);
}
